<div class="row">
    <div class="clr-col-md-9">
        <div class="card">
            <div class="card-header" avCardToggle>
                Demo
            </div>
            <div class="card-block">
                <div id="c1"></div>
            </div>
        </div>
    </div>
    <div class="clr-col-md-3">
        <div class="card">
            <div class="card-header" avCardToggle>
                Demo
            </div>
            <div class="card-block">
                <div id="c2"></div>
            </div>
        </div>
    </div>
  </div>