<section class="sidenav-content">
    <section class="nav-group collapsible">
        <input id="tabexample1" type="checkbox">
        <label for="tabexample1">Dashboard</label>
        <ul class="nav-list">
            <li><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
            <li><a class="nav-link" routerLink="/dashboard/analysis">Dashboard analysis</a></li>
            <li><a class="nav-link" routerLink="/dashboard/monitor">Dashboard monitor</a></li>
        </ul>
    </section>
    <section class="nav-group collapsible">
        <input id="tabexample2" type="checkbox">
        <label for="tabexample2">List</label>
        <ul class="nav-list">
            <li><a class="nav-link" routerLink="/list/table-list">Table List</a></li>
        </ul>
    </section>
</section>