<header class="header-4 nav-background">
  <div class="branding">
      <a class="nav-link">
          <span class="logo dell-emc-logo"></span>
      </a>
  </div>
  <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="bell" class="has-badge"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="cog"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="power"></clr-icon>
      </a>
  </div>
</header>
